<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhbit.hospital.mapper.AdminMapper">

    <!-- Collection<Administrator> getAll(); -->
    <select id="getAll" resultType="com.zhbit.hospital.bean.Administrator">
        select *
        from administrator
    </select>

    <!-- 登录 -->
    <!-- Administrator getAdministratorByIdAndPassword(@Param("mId") String mId, @Param("mPwd") String mPwd); -->
    <select id="getAdministratorByIdAndPassword" resultType="com.zhbit.hospital.bean.Administrator">
        select *
        from administrator
        where M_id = #{mId}
          and M_pwd = #{mPwd}
    </select>

    <!-- 管理医生模块 -->
    <!-- boolean deleteDoctor(int id); -->
    <delete id="deleteDoctor">
        delete
        from doctor
        where D_id = #{id}
    </delete>
    <delete id="deleteOffice">
        delete
        from office
        where O_id = #{id}
    </delete>
    <delete id="deleteSurgery">
        delete
        from surgery
        where SUR_id = #{id}
    </delete>
    <delete id="deleteInterview">
        select *
        from interview
        where I_id = #{id}
    </delete>

    <delete id="deleteSCH">
        select *
        from sch
        where SCH_id = #{id}
    </delete>
    <delete id="deletePatient">
        delete
        from patient
        where P_id = #{id}
    </delete>

    <!-- Doctor getDoctorById(@Param("id") String id); -->
    <select id="getDoctorById" resultType="com.zhbit.hospital.bean.Doctor">
        select *
        from doctor
        where D_id = #{id}
    </select>

    <!-- boolean updateDoctor(@Param("doctor") Doctor doctor); -->
    <update id="updateDoctor">
        update doctor
        set D_pwd      = #{doctor.D_pwd},
            D_name     = #{doctor.D_name},
            D_age      = #{doctor.D_age},
            D_sex      = #{doctor.D_sex},
            SUR_id     = #{doctor.SUR_id},
            D_username = #{doctor.D_username}
        where D_id = #{doctor.D_id}
    </update>

    <!-- 管理患者模块 -->
    <!-- Patient getPatientById (@Param("id") int id); -->
    <select id="getPatientById" resultType="com.zhbit.hospital.bean.Patient">
        select *
        from patient
        where P_id = #{id}
    </select>

    <!-- boolean updatePatient(@Param("username") String username, @Param("password") String password, @Param("med") String med, @Param("illness") String illness, @Param("id") int id); -->
    <update id="updatePatient">
        update patient
        set P_username = #{username},
            P_pwd      = #{password},
            P_med      = #{med},
            P_ill      = #{illness}
        where P_id = #{id}
    </update>

    <!-- boolean updateAdmin(@Param("id") String id, @Param("password") String password); -->
    <update id="updateAdmin">
        update administrator
        set M_pwd = #{password}
        where M_id = #{id}
    </update>

    <!-- Administrator getAdminById(@Param("id") String id); -->
    <select id="getAdminById" resultType="com.zhbit.hospital.bean.Administrator">
        select *
        from administrator
        where M_id = #{id}
    </select>

</mapper>