<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhbit.hospital.mapper.InterviewMapper">
    <update id="updateInterview">
        update interview
        set P_id = #{interview.P_id},
            I_date = #{interview.I_date},
            I_time = #{interview.I_time},
            D_id = #{interview.D_id}
    </update>

    <!-- List<Interview> getInterviewByP_id (int id); -->
    <select id="getInterviewByP_id" resultType="com.zhbit.hospital.bean.Interview">
        select *
        from interview
        where P_id = #{P_id}
    </select>

    <!-- List<Interview> getInterviewByD_id (@Param("D_id") int id); -->
    <select id="getInterviewByD_id" resultType="com.zhbit.hospital.bean.Interview">
        select *
        from interview
        where D_id = #{D_id}
    </select>

    <!-- List<Interview> getAll(); -->
    <select id="getAll" resultType="com.zhbit.hospital.bean.Interview">
        select *
        from interview
    </select>
    <select id="getInterviewById" resultType="com.zhbit.hospital.bean.Interview">
        select *
        from interview
        where I_id = #{id}
    </select>

<!--    boolean addInterview(int logined_user, String sch_date, String sch_time, int d_id);-->
    <insert id="addInterview">
        insert into interview values (
        null,#{P_id},#{I_date},#{I_time},#{D_id}
        )
    </insert>

<!--    boolean delInterview(int id);-->
    <delete id="delInterview">
        delete
        from interview
        where I_id = #{I_id}
    </delete>
</mapper>