<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhbit.hospital.mapper.InterviewMapper">

    <!-- List<Interview> getInterviewByP_id (int id); -->
    <select id="getInterviewByP_id" resultType="com.zhbit.hospital.bean.Interview">
        select *
        from interview
        where P_id = #{P_id}
    </select>

    <!-- List<Interview> getInterviewByD_id (@Param("D_id") int id); -->
    <select id="getInterviewByD_id" resultType="com.zhbit.hospital.bean.Interview">
        select *
        from interview
        where D_id = #{D_id}
    </select>

</mapper>