<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhbit.hospital.mapper.PatientMapper">

    <!-- Patient getPatientByUsernameAndPassword (String P_username, String P_pwd); -->
    <select id="getPatientByUsernameAndPassword" resultType="com.zhbit.hospital.bean.Patient">
        select *
        from patient
        where P_username = #{username}
          and P_pwd = #{password}
    </select>

    <!-- Patient getPatientById (@Param("id") int id); -->
    <select id="getPatientById" resultType="com.zhbit.hospital.bean.Patient">
        select *
        from patient
        where P_id = #{id}
    </select>

    <!-- boolean updatePatient(@Param("username") String username, @Param("password") String password, @Param("med") String med, @Param("illness") String illness, @Param("id") int id); -->
    <update id="updatePatient">
        update patient
        set P_username = #{username},
            P_pwd      = #{password},
            P_med      = #{med},
            P_ill      = #{illness}
        where P_id = #{id}
    </update>

</mapper>