<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhbit.hospital.mapper.SCHMapper">
    <update id="updateSCH">
        update sch
        set SUR_id     = #{sch.SUR_id},
            SCH_date   = #{sch.SCH_date},
            SCH_time   = #{sch.SCH_time},
            SCH_size   = #{sch.SCH_size},
            SCH_booked = #{sch.SCH_booked}
        where SCH_id = #{sch.SCH_id}
    </update>

    <!-- List<SCH> getSCHByD_id (@Param("id") int id); -->
    <select id="getSCHByD_id" resultType="com.zhbit.hospital.bean.SCH">
        select *
        from SCH
        where D_id = #{id}
    </select>

    <!-- List<SCH> getAll(); -->
    <select id="getAll" resultType="com.zhbit.hospital.bean.SCH">
        select *
        from sch
    </select>
    <select id="getSCHById" resultType="com.zhbit.hospital.bean.SCH">
        select *
        from sch
        where SCH_id = #{id}
    </select>

    <!-- SCH getSCHByTimeAndD_id(@Param("date") String date, @Param("time") String time, @Param("id") int id); -->
    <select id="getSCHByTimeAndD_id" resultType="com.zhbit.hospital.bean.SCH">
        select *
        from sch
        where SCH_date = #{date}
          and SCH_time = #{time}
          and D_id = #{id}
    </select>

<!--    void addInterviewWithUpdateSCHBooked(int sch_id, int sch_booked);
    伴随着预约信息添加，已预约人数加1
-->
    <update id="addInterviewWithUpdateSCHBooked">
        update sch
        set SCH_booked = #{SCH_booked}
        where SCH_id = #{SCH_id}
    </update>

<!--    List<SCH> getSCHByDateOrTime(String searchDate, String searchTime);-->
    <select id="getSCHByDateOrTime" resultType="com.zhbit.hospital.bean.SCH">
        select * from sch where 1=1
        <if test="SCH_Date != null and SCH_Date !=''">
            and SCH_Date = #{SCH_Date}
        </if>
        <if test="SCH_Time != null and SCH_Time !=''">
            and SCH_Time = #{SCH_Time}
        </if>
    </select>
</mapper>