<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhbit.hospital.mapper.SurgeryMapper">

    <!-- List<Surgery> getAll(); -->
    <select id="getAll" resultType="com.zhbit.hospital.bean.Surgery">
        select *
        from surgery
    </select>

</mapper>