<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" th:href="@{/static/css/style_index.css}">
</head>


<body>
<div class="shell">
    <div class="box-left">
        <h2>Login</h2>
        <span>Just a login website</span>
    </div>
    <div class="box-right">
        <div class="form">
            <form th:action="@{/Login}" method="post" name="loginform" onsubmit="return CheckPost();">
                <label for="username">Username</label>
                <input type="username" id="username" name="username">
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
                <input type="radio" name="loginType" value="patient" class="loginType" checked="checked">患者
                <input type="radio" name="loginType" value="doctor" class="loginType">医生
                <input type="radio" name="loginType" value="admin" class="loginType">管理员
                <div id="btngroup">
                    <a th:href="@{/PatientRegister}">
                        <button type="button" class="button">Register</button>
                    </a>
                    <input type="submit" id="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function CheckPost()
    {
        if (loginform.username.value=="")
        {
            alert("请填写用户名");
            loginform.username.focus();
            return false;
        }
        if (loginform.password.value=="")
        {
            alert("请填写密码");
            loginform.password.focus();
            return false;
        }
    }
</script>
</body>

</html>