<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>患者主页</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{static/css/Doctor/style_DoctorHome.css}">
</head>
<body>
<div class="leftdiv">
    <h1>患者主页</h1>
    <p>展示患者的基本信息</p>
    <p>患者的基本操作</p>
</div>
<div class="rightdiv">
    <h2>个人信息</h2>
        <div class="infogroup">
            <label for="username">用户名：</label>
            <input type="text" id="username" name="username" th:value="${session.Logined_User.P_username}" readonly="readonly">
        </div>
        <div class="infogroup">
            <label for="password">密码：</label>
            <input type="password" id="password" name="password" th:value="${session.Logined_User.P_pwd}" readonly="readonly">
        </div>
        <div class="infogroup">
            <label for="name">姓名：</label>
            <input type="text" id="name" name="name" th:value="${session.Logined_User.P_name}" readonly="readonly">
        </div>
        <div class="infogroup">
            <label for="sex">性别：</label>
            <input type="text" id="sex" name="sex" th:value="${session.Logined_User.P_sex}" readonly="readonly">
        </div>
        <div id="btngroup">
            <a th:href="@{/PatientUpdate}"><button class="button">修改个人信息</button></a>
            <a th:href="@{/Login}"><button class="button">返回</button></a>
        </div>
</div>
<div class="interview">
    <h2>预约信息</h2>
    <a th:href="@{/InterviewAdd}">添加预约信息</a>
    <div class="interviewgroup">
        <table class="table">
            <tr>
                <th>预约日期</th>
                <th>预约时间</th>
                <th>预约医生</th>
                <th>操作</th>
            </tr>
            <tr th:each="interview:${interviews}">
                <td th:text="${interview.I_date}"></td>
                <td th:text="${interview.I_time}"></td>
                <td th:text="${interview.D_id}"></td>
                <td>
                    <a th:href="@{'/DelInterview/'+${interview.I_id}}">取消预约</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>