<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>患者信息修改</title>
    <link rel="stylesheet" th:href="@{static/css/Patient/style_PatientUpdate.css}">
</head>

<body>
<div class="rightdiv">
    <h2>修改个人信息</h2>
    <form th:action="@{/Patient}" method="post">
        <input type="hidden" name="_method" value="put">
        <input type="hidden" name="P_id" th:value="${session.Logined_User.P_id}">
        <input type="hidden" name="P_sex" th:value="${session.Logined_User.P_sex}">
        <input type="hidden" name="P_age" th:value="${session.Logined_User.P_age}">
        <input type="hidden" name="P_num" th:value="${session.Logined_User.P_num}">
        <input type="hidden" name="P_name" th:value="${session.Logined_User.P_name}">
        <div class="infogroup">
            <label for="username">用户名：</label>
            <input type="text" name="P_username" id="username" th:value="${session.Logined_User.P_username}">
        </div>
        <div class="infogroup">
            <label for="password">密码：</label>
            <input type="password" name="P_pwd" id="password" th:value="${session.Logined_User.P_pwd}">
        </div>
        <div class="infogroup">
            <label for="med">过敏药物：</label>
            <input type="text" name="P_med" id="med" th:value="${session.Logined_User.P_med}">
        </div>
        <div class="infogroup">
            <label for="illness">既往病史：</label>
            <input type="text" name="P_ill" id="illness" th:value="${session.Logined_User.P_ill}">
        </div>
        <div class="btngroup">
            <button type="submit" class="button" name="submit">修改</button>
            <a th:href="@{/PatientHome}">
                <button class="button" type="button">返回</button>
            </a>
        </div>
    </form>
</div>
</body>

</html>