<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>医生信息管理</title>
</head>
<body>

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<link rel="stylesheet" th:href="@{static/css/Admin/style_AdminInfo.css}">
<div class="rightdiv">
    <div class="head">
        <h2>医生信息管理</h2>
        <a th:href="@{/Admin}">
            <button type="button" class="button">返回</button>
        </a>
    </div>
    <div class="shell">
        <table class="table">
            <tr>
                <th>医生用户名</th>
                <th>医生密码</th>
                <th>医生姓名</th>
                <th>医生年龄</th>
                <th>医生性别</th>
                <th>所属诊室</th>
                <th colspan="2">操作</th>
            </tr>
            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.D_username}"></td>
                <td th:text="${doctor.D_pwd}"></td>
                <td th:text="${doctor.D_name}"></td>
                <td th:text="${doctor.D_age}"></td>
                <td th:text="${doctor.D_sex}"></td>
                <td th:text="${doctor.SUR_id}"></td>
                <td>
                    <a th:href="@{'/AdminDeleteDocotr/'+${doctor.D_id}}">
                        删除
                    </a>

                </td>
                <td>
                    <a th:href="@{'/AdminUpdateDoctor/'+${doctor.D_id}}">
                        修改
                    </a>
                </td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>