<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>预约信息管理</title>
</head>
<body>

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{static/css/style_AdminUpdate.css}">
<div class="rightdiv">
  <h2>预约信息管理</h2>
  <table>
    <form>
      <div class="infogroup">
        <label for="p_id">患者id</label>
        <input type="text" name="P_id" id="p_id">
      </div>
      <div class="infogroup">
        <label for="i_date">预约日期</label>
        <input type="text" name="I_date" id="i_date">
      </div>
      <div class="infogroup">
        <label for="i_time">预约时间</label>
        <input type="text" name="I_time" id="i_time">
      </div>
      <div class="infogroup">
        <label for="d_id">医生id</label>
        <input type="text" name="D_id" id="d_id">
      </div>
      <div class="btngroup">
        <input type="submit" value="修改" class="button">
        <a href="#">
          <button type="button" class="button">返回</button>
        </a>
      </div>
    </form>
  </table>
</div>
</body>
</html>