<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>科室信息管理</title>
</head>
<body>

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{static/css/style_AdminUpdate.css}">
<div class="rightdiv">
  <h2>科室信息管理</h2>
  <table>
    <form>
      <div class="infogroup">
        <label for="o_name">科室名称</label>
        <input type="text" name="O_name" id="o_name">
      </div>
      <div class="infogroup">
        <label for="o_des">科室描述</label>
        <input type="text" name="O_des" id="o_des">
      </div>
      <div class="infogroup">
        <label for="o_site">科室地址</label>
        <input type="text" name="O_site" id="o_site">
      </div>
      <div class="btngroup">
        <input type="submit" value="修改" class="button">
        <a th:href="@{/AdminOffice}">
          <button type="button" class="button">返回</button>
        </a>
      </div>
    </form>
  </table>
</div>
</body>
</html>