<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>患者信息管理</title>
</head>
<body>

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/static/css/Admin/style_PatientAdminInfo.css}">
<div class="rightdiv">
  <h2>患者信息管理</h2>
  <div class="shell">
    <table class="table">
      <tr>
        <th>患者用户名</th>
        <th>患者密码</th>
        <th>患者姓名</th>
        <th>患者性别</th>
        <th>患者年龄</th>
        <th>患者身份证号</th>
        <th>患者过敏药物</th>
        <th>患者既往病史</th>
        <th colspan="2">操作</th>
      </tr>
      <tr>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>删除</td>
        <td>修改</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>