<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>排班信息管理</title>
</head>
<body>

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/style.css">
<div class="rightdiv">
  <h2>排班信息管理</h2>
  <table>
    <form>
      <div class="infogroup">
        <label for="d_id">排班医生id</label>
        <input type="text" name="D_id" id="d_id">
      </div>
      <div class="infogroup">
        <label for="sur_id">排班诊室</label>
        <input type="text" name="SUR_id" id="sur_id">
      </div>
      <div class="infogroup">
        <label for="sch_date">排班日期</label>
        <input type="text" name="SCH_date" id="sch_date">
      </div>
      <div class="infogroup">
        <label for="sch_time">排班时间</label>
        <input type="text" name="SCH_time" id="sch_time">
      </div>
      <div class="infogroup">
        <label for="sch_size">预约人数上限</label>
        <input type="text" name="SCH_size" id="sch_size">
      </div>
      <div class="infogroup">
        <label for="sch_booked">预约人数</label>
        <input type="text" name="SCH_booked" id="sch_booked">
      </div>
      <div class="btngroup">
        <input type="submit" value="修改" class="button">
        <a href="#">
          <button type="button" class="button">返回</button>
        </a>
      </div>
    </form>
  </table>
</div>
</body>
</html>