<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>诊室信息管理</title>
</head>
<body>

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{static/css/Admin/style_AdminInfo.css}">
<div class="rightdiv">
    <div class="head">
        <h2>诊室信息管理</h2>
        <a th:href="@{/Admin}">
            <button type="button" class="button">返回</button>
        </a>
    </div>
    <div class="shell">
        <table class="table">
            <tr>
                <th>所属科室id</th>
                <th>诊室地址</th>
                <th>诊室负责人</th>
                <th colspan="2">操作</th>
            </tr>
            <tr th:each="surgery : ${surgeries}">
                <td th:text="${surgery.O_id}"></td>
                <td th:text="${surgery.SUR_site}"></td>
                <td th:text="${surgery.SUR_mana}"></td>
                <td>
                    <a th:href="@{'/AdminDeleteSurgery/'+${surgery.SUR_id}}">
                        删除
                    </a>
                </td>
                <td>
                    <a th:href="@{'/AdminUpdateSurgery/'+${surgery.SUR_id}}">
                        修改
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>